# Alzeimer's

#### About
It is the most common type of dementia.Alzheimer’s disease involves parts of the brain that control thought, memory, and language.It is a progressive disease beginning with mild memory loss and possibly leading to loss of the ability to carry on a conversation and respond to the environment.

#### Facts and Figures 
<img title="a title" alt="Alt text" src="img.png">

###### Source: https://ourworldindata.org/causes-of-death#dementia

#### How Alzeimer’s is diagnosed
Ask the person experiencing the disease a general question concerning health, family history, the use of over the counter medicines, ability to carry out daily activities.
Conduct tests of memory, counting, problem solving, attention and language.
Order blood, urine and other medical tests that can help with the causes of the disease.
Collect cerebrospinal fluid and measure levels of proteins for Alzheimer and other related dementia.
Perform brain scans

#### Leading a healthy lifestyle can help reduce the risk of dementia

People can reduce their risk of dementia by getting regular exercise, not smoking, avoiding harmful use of alcohol, controlling their weight, eating a healthy diet, and maintaining healthy blood pressure, cholesterol and blood sugar levels.

#### There is no cure for dementia but much can be done to support people living with dementia and their carers

Currently there is no cure for dementia. However, much can be done to support people living with dementia. Early diagnosis is important; regular health checks can help to ensure that accompanying physical illnesses are diagnosed and treated; and health and social care systems, when adequately resourced, can ensure care at all stages of dementia.

#### References

https://www.kaggle.com/datasets/legendahmed/alzheimers-clinical-data/discussion

https://www.who.int/news-room/fact-sheets/detail/the-top-10-causes-of-death

https://www.who.int/news-room/fact-sheets/detail/dementia

https://www.who.int/news-room/facts-in-pictures/detail/dementia

https://www.cdc.gov/aging/aginginfo/alzheimers.htm

https://knightadrc.wustl.edu/professionals-clinicians/cdr-dementia-staging-instrument/cdr-scoring-table/

https://www.healthdirect.gov.au/mini-mental-state-examination-mmse

In [2]:
# library imports.
import numpy as np
import pandas as pd

# for data visualization  for EDA.
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
data = pd.read_csv('clinical-data-for alzheimers.csv')

In [4]:
data.head()

    Subject  Gender mmse  ageAtEntry  cdr memory            dx1
0  OAS30124  female   16    79.14579  1.0      1  'AD Dementia'
1  OAS30124  female   21    79.14579  0.5    0.5  'AD Dementia'
2  OAS31129  female   20    68.07666  1.0      1  'AD Dementia'
3  OAS31129  female   28    68.07666  1.0      1  'AD Dementia'
4  OAS31129  female   29    68.07666  0.5    0.5  'AD Dementia'

In [5]:
data.shape

(1229, 7)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Subject     1229 non-null   object
 1   Gender      1229 non-null   object
 2   mmse        1229 non-null   object
 3   ageAtEntry  1229 non-null   float64
 4   cdr         1229 non-null   float64
 5   memory      1229 non-null   object
 6   dx1         1229 non-null   object
dtypes: float64(2), object(5)
memory usage: 67.3+ KB

#### Features Description:
* Subject - Identity of patient


* Gender - Feminine.


* MMSE - Mini-Mental State Examination, a (MMSE) is a set of 11 questions that doctors and other healthcare professionals commonly use to check for cognitive impairment (problems with thinking, communication, understanding and memory).The maximum score for the MMSE is 30. A score of 25 or higher is classed as normal. If the score is below 24, the result is usually considered to be abnormal, indicating possible cognitive impairment.

* AgeAtEntry - age at diagnosis.



* CDR - Clinical Dementia Rating: a global scale rating for staging people diagnosed with Dementia.The Global CDR Score is useful for characterizing and tracking a patient’s level of idementia: 0 = Normal, 0.5 = Very Mild Dementia, 1 = Mild Dementia, 2 = Moderate Dementia, 3 = Severe Dementia.


* Memory - memory test scores as stated as MMSE.


* dx1 - AD means Alzheimer's Disease/Dementia

In [7]:
data.isna().sum()

Subject       0
Gender        0
mmse          0
ageAtEntry    0
cdr           0
memory        0
dx1           0
dtype: int64

In [8]:
#data exploration

In [11]:
round(data.describe(),2)

       ageAtEntry      cdr
count     1229.00  1229.00
mean        72.90     0.70
std          7.74     0.42
min         47.61     0.00
25%         67.55     0.50
50%         73.01     0.50
75%         78.65     1.00
max         95.57     3.00

In [10]:
data.describe()

        ageAtEntry          cdr
count  1229.000000  1229.000000
mean     72.900069     0.702604
std       7.739166     0.415548
min      47.605750     0.000000
25%      67.550995     0.500000
50%      73.013010     0.500000
75%      78.650240     1.000000
max      95.567420     3.000000